In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from google.colab import drive


drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

file_path = '/content/drive/MyDrive/Copy of olympic_medals.csv'

df = pd.read_csv(file_path)

In [ ]:
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 2394
Number of columns: 8

In [ ]:
data_types = df.dtypes
print(data_types)

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [ ]:

unique_cities = df['Location'].nunique()
print(f"Number of unique cities where matches were held: {unique_cities}")

Number of unique cities where matches were held: 23

In [ ]:
usa_medals = df[df['Medal'] == 'USA']
total_usa_medals = usa_medals['Medal'].count()
print(f"Total number of medals won by the USA team: {total_usa_medals}")

Total number of medals won by the USA team: 0

In [ ]:

usa_medals = df[(df['Medal'].isin(['G', 'S', 'B'])) & (df['Nationality'] == 'USA')]

total_usa_medals = usa_medals.shape[0]
print(f"Total number of medals won by the USA team: {total_usa_medals}")

Total number of medals won by the USA team: 638

In [ ]:
medals_per_nationality = df.groupby('Nationality')['Medal'].count()
print(medals_per_nationality)

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64